@import "tailwindcss";

@font-face {
  font-family: 'Diamond';
  src: url('/fonts/DiamondItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-diamond {
  font-family: 'Diamond', sans-serif;
}