@import "tailwindcss";

@font-face {
  font-family: 'Diamond';
  src: url('/fonts/DiamondItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-diamond: 'Diamond', sans-serif;
}

.fondoCont{
  background-color: #101828;
}

.textoTitulo{
  color: #f3f4f6;
}

.textoSubtitulo{
  color: #d1d5dc;
}

.fondoTarj{
  background-color: #1e2939a2 ;
}

.verdeResalt{
  color: #73904B;
}

.bColor{
  background-color: #73904B;
}

.verdeMarca{
  color: #ACD14E;
}

.verdeCurso{
  color: #acd14ed8;
}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

  .card-text .line {
    text-align: inherit !important;
  }