---
import '../styles/tailwind.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import ListaCursos from '../components/ListaCursos.astro';
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      rel="stylesheet"
    />
    <title>Autoescuela La Flor</title>
  </head>
  <body class="pt-16 bg-gray-100">
    <Navbar />
    <ListaCursos />
    <Footer />
  </body>
</html>
