---
import '../styles/tailwind.css';
import Navbar from '../components/Navbar.astro';
import Presentacion from '../components/Presentacion.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Autoescuela La Flor</title>
  </head>
  <body class="pt-16 bg-gray-100">
    <Navbar />
	<Presentacion />
  </body>
</html>	
