---
import "../styles/tailwind.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Imagen from "../components/Imagen.astro";
import Tarjetas from "../components/Tarjetas.astro";
import Animaciones from "../components/AnimacionesQuienesSomos.astro";
import Resumen from "../components/Resumen.astro";
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
            rel="stylesheet"
        />
        <title>Autoescuela La Flor</title>
    </head>
    <body class="pt-16 bg-gray-100">
        <Navbar />
        <Imagen
            title="¿Quiénes somos?"
            p1="Con más de 30 años de experiencia, somos una de las 20 mejores autoescuelas de toda Asturias."
            p2="Nuestro equipo de profesionales está aquí para guiarte en cada paso del camino hacia tu licencia de conducir."
            image="/images/conduccion.webp"/>   
        <Tarjetas />
        <Resumen />
        <Footer />
        <Animaciones />
    </body>
</html>
