---
import ScriptModal from "./ScriptModal.astro";
---

<div
  id="modal-contacto"
  class="fixed inset-0 z-40 hidden items-start justify-center pt-24 bg-black/20 opacity-0 transition-opacity duration-300 ease-in-out"
>
  <div
    class="bg-gray-800 w-full max-w-md mx-auto rounded-2xl shadow-lg opacity-0 -translate-y-10 transition-all duration-300 ease-out modal-content relative"
  >
    <!-- Cabecera -->
    <div
      class="px-5 py-4 flex justify-between items-center bg-gray-800 rounded-t-2xl"
    >
      <h3 class="text-lg font-semibold verdeMarca text-white">Contacto</h3>
      <button
        id="cerrar-modal-contacto"
        class="w-8 h-8 flex items-center justify-center text-gray-300 hover:bg-red-600 hover:text-white rounded transition-colors duration-200"
        aria-label="Cerrar"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>

<div class="max-w-sm mx-auto">

  <!-- Texto introductorio -->
  <div class="px-6 py-4 m-4 text-gray-700 fondoCont rounded-md">
    <p class="text-base textoSubtitulo">
      ¿Tienes dudas o quieres más información? Llámanos o envíanos un correo electrónico. Estaremos encantados de ayudarte.
    </p>
  </div>

  <!-- Bloque de contacto -->
  <div class="px-6 py-5 m-4 fondoCont rounded-md text-gray-700 shadow space-y-2">
    <p class="textoSubtitulo">
      <strong class="verdeTitulo">Email:</strong>
      <a
        href="mailto:autoescuelalaflor@yahoo.es"
        class="hover:underline"
        id="email-bounce"
      >
        autoescuelalaflor@yahoo.es
      </a>
    </p>

    <p class="textoSubtitulo">
      <strong class="verdeTitulo">Teléfono:</strong>
      <a href="tel:+34638248731" class="hover:underline">
        +34 638 24 87 31
      </a>
    </p>
  </div>

</div>



    <!-- Pie -->
    <div class="px-5 py-3 bg-gray-800 rounded-b-2xl text-right">
      <button
        id="cerrar-modal-contacto2"
        class="text-sm px-4 py-1 rounded bColor text-gray-200 hover:scale-102 transition"
        >Cerrar</button
      >
    </div>
  </div>
</div>

<ScriptModal />
