---

---

<section
    id="inicio"
    class="relative h-screen bg-cover bg-center flex items-center justify-center text-white"
    style="background-image: url('/images/escaparate.jpg');"
    aria-label="Presentación de la autoescuela La Flor"
>
    <div class="absolute inset-0 bg-gradient-to-b from-gray-800/80 via-gray-900/0 to-transparent"></div>
    <div class="p-8 rounded max-w-2xl text-center">
        <h1 class="text-5xl font-bold mb-4">Autoescuela La Flor</h1>
        <p class="text-xl mb-2">Tu camino hacia la libertad comienza aquí.</p>
        <p class="text-md">Estamos en Tal de tal</p>
    </div>
</section>
