<section class="bg-white py-16 px-4 vehiculos-slide">
    <div class="overflow-hidden bg-white py-6 sm:py-2">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div
                class="mx-auto lg:grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2 flex flex-col-reverse items-center"
            >
            <div class="flex flex-col justify-center md:block">
                    <img
                        src="/images/coche.jpg"
                        alt="Product screenshot"
                        class="w-full sm:w-148 sm:h-88 aspect-[4/3] overflow-hidden rounded-xl shadow-xl ring-1 ring-gray-400/10 mb-4"
                    />
                    <img
                        src="/images/moto.jpg"
                        alt="Product screenshot"
                        class="w-full sm:w-148 sm:h-88 aspect-[4/3] overflow-hidden rounded-xl shadow-xl ring-1 ring-gray-400/10 mb-4"
                    />
                </div>
                <div class="lg:pt-4 lg:pl-8">
                    <div
                        class="lg:max-w-lg text-center flex flex-col items-center lg:items-start lg:block"
                    >
                        <h2 class="text-base/7 font-semibold text-indigo-600">
                            Aprueba más rápido
                        </h2>
                        <p
                            class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl"
                        >
                            Un mejor método
                        </p>
                        
                        <dl
                            class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-600 lg:max-w-none"
                        >
                            <div class="relative pl-9">
                                <dt class="inline font-semibold text-gray-900">
                                    <i class="fas fa-car absolute top-1 left-1 size-5 text-indigo-600"></i>

                                    Push to deploy.
                                </dt>
                                <dd class="inline">
                                    Lorem ipsum, dolor sit amet consectetur
                                    adipisicing elit. Maiores impedit
                                    perferendis suscipit eaque, iste dolor
                                    cupiditate blanditiis ratione.
                                </dd>
                            </div>
                            <div class="relative pl-9">
                                <dt class="inline font-semibold text-gray-900">
                                    <i class="fa-solid fa-motorcycle absolute top-1 left-1 size-5 text-indigo-600"></i>

                                    SSL certificates.
                                </dt>
                                <dd class="inline">
                                    Anim aute id magna aliqua ad ad non deserunt
                                    sunt. Qui irure qui lorem cupidatat commodo.
                                </dd>
                            </div>
                            <div class="relative pl-9">
                                <dt class="inline font-semibold text-gray-900">
                                    <i class="fa-solid fa-gauge-simple-high absolute top-1 left-1 size-5 text-indigo-600"></i>

                                    Database backups.
                                </dt>
                                <dd class="inline">
                                    Ac tincidunt sapien vehicula erat auctor
                                    pellentesque rhoncus. Et magna sit morbi
                                    lobortis.
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
